.related {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.related_p {
  font-style: italic;
  font-weight: 500;
  font-size: large;
}
.containerRelated {
  width: 50%;
  gap: 2.5rem;
  display: flex;
}
.productRelated {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2 rem;
  font-style: italic;
  text-align: center;
}
.productRelated_name {
  padding-top: 1rem;
}
.productRelated_price {
  font-weight: 500;
  color: gray;
}
